USE [master]
GO
/****** Object:  Database [Petshop]    Script Date: 8/14/2024 1:36:20 PM ******/
CREATE DATABASE [Petshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Petshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Petshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Petshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Petshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Petshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Petshop]
GO
/****** Object:  Table [dbo].[BillingDetail]    Script Date: 8/14/2024 1:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingDetail](
	[IDBill] [int] NULL,
	[IDProduct] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[IDDetail] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingTbl](
	[Total] [decimal](18, 3) NOT NULL,
	[IDCustomer] [int] NOT NULL,
	[IDEmp] [int] NULL,
	[CDate] [date] NULL,
	[IDBill] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTbl](
	[IDCustomer] [int] IDENTITY(1,1) NOT NULL,
	[NameCustomer] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IDCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[IDEmp] [int] IDENTITY(1,1) NOT NULL,
	[NameEmp] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[DOB] [date] NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Password] [nvarchar](50) NULL,
	[Permission] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionTbl](
	[PerId] [int] IDENTITY(1,1) NOT NULL,
	[PerType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetTbl](
	[IDpet] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Age] [nvarchar](50) NOT NULL,
	[ColorAndPattern] [nvarchar](50) NOT NULL,
	[HealthStatus] [nvarchar](50) NOT NULL,
	[Species] [nvarchar](50) NULL,
	[IDCustomer] [int] NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[IDpet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 8/14/2024 1:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[NameProduct] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingDetail_BillingTbl] FOREIGN KEY([IDBill])
REFERENCES [dbo].[BillingTbl] ([IDBill])
GO
ALTER TABLE [dbo].[BillingDetail] CHECK CONSTRAINT [FK_BillingDetail_BillingTbl]
GO
ALTER TABLE [dbo].[BillingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingDetail_ProductTbl] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[ProductTbl] ([IDProduct])
GO
ALTER TABLE [dbo].[BillingDetail] CHECK CONSTRAINT [FK_BillingDetail_ProductTbl]
GO
ALTER TABLE [dbo].[BillingTbl]  WITH CHECK ADD  CONSTRAINT [fk_customer_id] FOREIGN KEY([IDCustomer])
REFERENCES [dbo].[CustomerTbl] ([IDCustomer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingTbl] CHECK CONSTRAINT [fk_customer_id]
GO
ALTER TABLE [dbo].[BillingTbl]  WITH CHECK ADD  CONSTRAINT [fk_Emp_id] FOREIGN KEY([IDEmp])
REFERENCES [dbo].[EmployeeTbl] ([IDEmp])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingTbl] CHECK CONSTRAINT [fk_Emp_id]
GO
ALTER TABLE [dbo].[EmployeeTbl]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTbl_PermissionTbl] FOREIGN KEY([Permission])
REFERENCES [dbo].[PermissionTbl] ([PerId])
GO
ALTER TABLE [dbo].[EmployeeTbl] CHECK CONSTRAINT [FK_EmployeeTbl_PermissionTbl]
GO
ALTER TABLE [dbo].[PetTbl]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Customer] FOREIGN KEY([IDCustomer])
REFERENCES [dbo].[CustomerTbl] ([IDCustomer])
GO
ALTER TABLE [dbo].[PetTbl] CHECK CONSTRAINT [FK_Pet_Customer]
GO
USE [master]
GO
